.header{
    display: flex;
    border: 2px solid brown;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    padding: 0 1rem;
    border-radius: 1rem;
    padding: 0 2rem;
    box-shadow: 0px 5px 5px rgb(232, 155, 155);
}

.logo{
    width: 80px;
    height: 80px;
}

.nav-container > ul{
    display: flex;
    list-style-type: none;
    padding: 0px 3rem;
}
.nav-container > ul > a{
    padding: 0 2rem;
    text-decoration: none;
    color: rgb(112, 39, 39);
}
.nav-container > ul > a:hover{
    font-size: 1.4rem;
    transition: 0.5s ease-in;
    color: rgb(210, 135, 135);
}

/*Main Container*/
.search{
    margin: 2rem;
    display: flex;
    align-items: center;
}
.search > input{
    padding: 0.8rem 1.5rem;
    border: 2px solid brown;
    border-radius: 1rem;
}

.search input::placeholder{
    font-size: 1rem;
}
.search-icon{
    font-size: 1.8rem;
    margin: 0.5rem 0.5rem;
    color: rgb(219, 137, 137);
}

/*Resturant card container*/
.rest-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 5rem;
}

.rescard-container{
    width: 16rem;
    height: 24rem;
    margin-top: 3rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgb(160, 110, 110);
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
}
.rescard-container:hover{
    border: 2px solid rgb(196, 97, 97);
    transition: 1s ease-in-out;
}
.res-img img{
    width: 16rem;
    max-height: 12rem;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.rescard-text{
    padding: 0 1rem 1rem 1rem;
    line-height: 1.5rem;
}
.res-name{
    font-size: 1.8rem;
    color: rgb(146, 33, 33);
    font-weight: 600;
}