.header{
    display: flex;
    border: 2px solid brown;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    padding: 0 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgb(232, 155, 155);
}

.logo{
    width: 70px;
    height: 70px;
}

.nav-container > ul{
    display: flex;
    list-style-type: none;
    padding: 0px 1rem;
}
.nav-container > ul > a{
    padding: 10px;
    text-decoration: none;
    color: rgb(112, 39, 39);
}

